* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: aliceblue;
}
header h1 {
    font-size: 40px;
    color: #191616;
    font-weight: 600;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 8px 16px;
}
nav ul li a {
    text-decoration: none;
    color: #2f2e2e;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 80px;
}


.left  h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.left p {
    font-size: 22px;
    text-wrap: pretty;
}

.box {
    background: linear-gradient(to right, red, purple);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.123);
}


@media screen and(max-width:600) {
    header nav {
        display: none;
    }
    section {
        flex-wrap: wrap;
    }
}